h2 { font-size: 28px;}
p { font-size: 18px; line-height: 28px; color: #444; margin-top: 15px; }

.inback { background-image: url(/images/inback.jpg); background-repeat:no-repeat; background-attachment:fixed;
background-position: 50% 50%; background-size: cover;
}